.board-container {
  width: 335px;
  height: 310px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.black-board {
  @include board("../../images/board-layer-black-large.svg");
  > div {
    position: relative;
  }
}

.white-board {
  @include board("../../images/board-layer-white-large.svg",95%);
}

.ball {
  width: 41px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.ball img {
  position: absolute;
}

.ball img:last-child {
  top: 12px;
  display: none;
}
@each $index, $duration in (
  (0, 612ms),
  (1, 559ms),
  (2, 500ms),
  (3, 433ms),
  (4, 353ms),
  (5, 250ms)
) {
  .row#{$index} {
    @include animation(fall#{$index}, #{$duration});
  }
}
