* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.winner-background {
  background-color: $dark-purple;
  width: 100%;
  min-height: 14.625rem;
  margin-top: -1rem;
  border-top-left-radius: $radius60;
  border-top-right-radius: $radius60;
}
