@keyframes fall0 {
    0% {
        top: -46px;
    }

    50% {
        top: 240px;
    }

    75% {
        top: 227px
    }

    100% {
        top: 240px;
    }
}

@keyframes fall1 {
    0% {
        top: -46px;
    }

    50% {
        top: 194px;
    }

    75% {
        top: 181px
    }

    100% {
        top: 194px;
    }
}

@keyframes fall2 {
    0% {
        top: -46pxpx;
    }

    50% {
        top: 147px;
    }

    75% {
        top: 134px
    }

    100% {
        top: 147px;
    }
}

@keyframes fall3 {
    0% {
        top: -46px;
    }

    50% {
        top: 100px;
    }

    75% {
        top: 87px
    }

    100% {
        top: 100px;
    }
}

@keyframes fall4 {
    0% {
        top: -46px;
    }

    50% {
        top: 53px;
    }

    75% {
        top: 40px;
    }

    100% {
        top: 53px;
    }
}

@keyframes fall5 {
    0% {
        top: -46px;
    }

    50% {
        top: 7px;
    }

    75% {
        top: -6px;
    }

    100% {
        top: 7px;
    }
}  