@mixin board($url, $height: 100%) {
  width: 100%;
  height: $height;
  border-radius: 20px;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 6.5px;
}

@mixin player($url) {
  position: absolute;
  width: 54px;
  height: 59px;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 130px;
  transform: translate(-50%, 0);
  top: -30px;
}
@mixin animation($name, $duration) {
  animation-name: $name;
  animation-duration: $duration;
}
