$primary: #7945ff;
$secondary: #987744;
$tertiary: #f8f7ec;
$fourth: #987644;

$border-thikness: 1px;

$dark-purple: #5c2dd5;
$light-purple: rgba(123, 97, 255, 0.05);
$yellow: #ffcf2b;
$grey: #84848491;
$dark-gery: #767676;
$color-white: #fff;
$color-black: #000;
$pink:#FD6687;

$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 19px;
$font-md: 21px;
$font-lg: 24px;
$font-xl: 30px;
$font-xxl: 36px;
$font-xxxl: 64px;

$border-radius-btn: 62px;
$border-radius-box-xs: 7px;
$border-radius-box-sm: 2rem;
$border-radius-box-md: 28px;
$border-radius-box-lg: 32px;
$radius60: 3.75rem;
$radius20: 1.25rem;

$transition1: all 0.1s linear;
$transition2: all 0.3s linear;

$base-padding: 10px;

$box-shadow-dark: 0px 25px 36px -8px rgba(123, 97, 255, 0.21);
$box-shadow-light: 0px 14px 25px 1px $tertiary;

$background-purpel-gr: linear-gradient(
  180deg,
  #a583d2 -17.86%,
  #6437a0 138.27%
);

$hover-transition: all 0.25s ease-in-out;
